environment:
  matrix:
    - PYTHON: "C:\\Python36-x64"

install:
  # We need wheel installed to build wheels
  - "%PYTHON%\\python.exe -m pip install wheel"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt --user"

build: off

test_script:
  - "copy __init__.py chinese_prestudy.py"
  - "%PYTHON%\\python.exe -m pytest -vv tests/"

